*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(37, 37, 111);
}
a{
    
    color: white;
    
}
a:hover{
  color: rgb(219, 65, 65);
}
h2{
 color: rgb(255, 255, 255);
}